#hp-favourite {
	position: relative;
	margin-top: -30px;
	margin-bottom: 100px;

	h2 {
		background: #5C5240;
		max-width: 514px;
		margin: 0 auto;
		padding: 32px 20px;
		color: #fff;
		font-size: 32px;
		text-align: center;
		box-shadow: 0 14px 15px 0 rgba(0, 0, 0, .5);
		position: absolute;
		z-index: 1;
		top: -70px;
		left: 0;
		right: 0;
	}

	.carousel {
		// mostly takes styling from Justified Image Grid
		.justified-image-grid {
			margin-bottom: 0 !important;
		}
	}

	.view-more {
		text-align: center;
	}

	// responsive
	@include media('<768px') {
		margin-bottom: 60px;
	}
}
