#hp-testimonials {
	max-width: 1780px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;

	// left teaser
	.teaser {
		width: 40%;
		background: url('../images/testimonial-bg.jpg') 50% 50% no-repeat transparent;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		line-height: 1.2;
		margin-right: 2%;

		h3 {
			width: 65%;
			font-size: 28px;
			padding-top: 10vw;
			padding-bottom: 10vw;
			margin: 0;
			color: #fff;

			.inner {
				position: relative;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 22px;
					bottom: 20px;
					left: -25px;
					width: 2px;
					background: #4a4231;
				}
			}

		}
	}

	// testimonials
	.testimonial {
		width: 30%;
		box-shadow: 0 26px 56px 0 rgba(0, 0, 0, .2);
		border-radius: 5px;
		background: #fff;
		padding: 65px 30px 80px 45px;
		color: #5E5E5E;
		margin-right: 2%;

		&::before {
			content: '';
			display: block;
			height: 31px;
			background: url('../images/quotes.svg') center center no-repeat;
			margin-bottom: 30px;
		}
	}

	// responsive
	@include media(('>=768px' '<1024px')) {
		.teaser {
			h3 {
				width: 75%;
			}
		}

		.testimonial {
			padding: 40px 30px 20px 30px;
		}
	}

	@include media('<768px') {
		flex-wrap: wrap;

		.teaser {
			width: 80%;
			margin-bottom: 30px;
		}

		.testimonial {
			width: 46%;

			&:nth-child(2) {
				margin-left: 3%;
			}
		}
	}

	@include media('<520px') {
		.testimonial {
			width: 94%;
			margin-left: 3%;
			margin-right: 3%;
			margin-bottom: 20px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}
